<div id="admin-nav">
  <div class="container">
    <div class="span-24 last">
      <a href="/admin/members">Members</a>
      <span class="separator">|</span>
      <a href="/admin/workshifts">Work Shifts</a>
      <span class="separator">|</span>
      <a href="/admin/summaries">Share Summary</a>
      <span class="separator">|</span>
      <a href="/admin/weekly_summaries">Weekly/Biweekly Totals</a>
      <span class="separator">|</span>
      <a href="/admin/sharelistmaker">Share Lists</a>
    </div>
  </div>
</div>
