{% extends "admin_base.html" %}
{% load static from staticfiles %}

{% block header %}
  <style type="text/css">
    thead th { padding-top: 2px; padding-bottom: 2px; vertical-align: bottom; text-align: center; background-color: #574349; color: #E8E5DD; }
    th, td { white-space: nowrap; border: 1px solid #FFFFFF; }
    table tr.odd td { background-color: #FFF; }
    table tr.even td { background-color: #E8E5DD; }

    table.shares { padding-right: 50px; }
      table.shares td.left-border { border-left: 1px #BBB solid; }
      table.shares tr.hover td { background-color: #78515C !important; color: #FFFFFF; }

    .export_button_padding { padding-top: 3px; }
  </style>

  <script type="text/javascript">
    $(document).ready(function() {
      $("span[name='tipsy']").tipsy({ gravity: 'w', trigger: 'focus', html: true });

      $("#upload-button").hide();
      $("input#csv-file").change(function() {
        $("#upload-button").show();
      });

      $("#contact-upload-button").hide();
      $("input#contact-csv-file").change(function() {
        $("#contact-upload-button").show();
      });

      $("table.shares tr").mouseenter(function() { $(this).addClass("hover"); });
      $("table.shares tr").mouseleave(function() { $(this).removeClass("hover"); });
      $("table.shares tr").click(function() {
        window.location = "/admin/member_detail/" + $(this).attr("id");
      });
    });
  </script>
{% endblock %}

{% block content %}
  <div class="span-24 last below-8">
    <span class="title">Members</span>
  </div>

  <div class="span-24 last below-8">
    <div class="prepend-14 span-6">
      <form enctype="multipart/form-data" method="post">
        {% csrf_token %}
        <label for="csv-file">
          Import Farmigo CSV File:
          <br />
          <input id="csv-file" name="csv-file" type="file">
        </label>
        <br />
        &nbsp;<br />
        <input id="upload-button" name="upload-button" type="submit" value="upload">
      </form>
    </div>
    <div class="prepend-2 span-2 last">
      <form enctype="multipart/form-data" method="post">
        {% csrf_token %}
        <input id="assign-week-button" name="assign-week-button" type="submit" value="Assign A/B">
      </form>
      <div class="export_button_padding">
      <form enctype="multipart/form-data" method="post" action="/admin/members/export">
        {% csrf_token %}
        <input id="export-button" type="submit" value="Export...">
      </form>
      </div>
    </div>
  </div>


  <div class="span-24 last">
    <table class="shares">
      <thead>
        <tr>
          <th rowspan="2">ID</th>
          <th rowspan="2">Farmigo </br>Sign Up</th>
          <th rowspan="2">First</th>
          <th rowspan="2">Last</th>
          <th rowspan="2">Phone</th>
          <th rowspan="2">Email</th>
          <th rowspan="2">Day</th>
          <th colspan="6">Weekly</th>
          <th colspan="4">Biweekly</th>
          <th rowspan="2">BR</th>
          <th rowspan="2">C</th>
          <th rowspan="2">M</th>
          <th rowspan="2">BD</th>
          <th rowspan="2">P</th>
          <th rowspan="2">Assigned </br>Week</th>
        </tr>
        <tr>
          <th>V</th><th>Fr</th><th>E</th><th>Fl</th><th>Vso</th><th>PS</th>
          <th>V</th><th>Fr</th><th>E</th><th>Fl</th>
        </tr>
      </thead>

      <tbody>
        {% for member in members %}
          <tr id="{{member.id}}" {% cycle 'class="odd"' 'class="even"' %}>
            <td>{{member.id}}</td>
            <td>
              <span name="tipsy" title="<strong>Farmigo Share Description:</strong> <br />{{member.farmigo_share_description}}">
                {{member.farmigo_signup_date|date:"SHORT_DATE_FORMAT"}}
              </span>
            </td>
            <td>{{member.first_name}}</td>
            <td>{{member.last_name}}</td>
            <td>{{member.phone}}</td>
            <td>{{member.email}}</td>
            <td>{{member.day}}</td>
            <td class="left-border">{{member.weekly_veggie_count|default_if_none:" "}}</td>
            <td>{{member.weekly_fruit_count|default_if_none:" "}}</td>
            <td>{{member.weekly_egg_count|default_if_none:" "}}</td>
            <td>{{member.weekly_flower_count|default_if_none:" "}}</td>
            <td>{{member.veggie_summer_only_count|default_if_none:" "}}</td>
            <td>{{member.personal_size_count|default_if_none:" "}}</td>
            <td class="left-border">{{member.biweekly_veggie_count|default_if_none:" "}}</td>
            <td>{{member.biweekly_fruit_count|default_if_none:" "}}</td>
            <td>{{member.biweekly_egg_count|default_if_none:" "}}</td>
            <td>{{member.biweekly_flower_count|default_if_none:" "}}</td>
            <td class="left-border">{{member.beer_count|default_if_none:" "}}</td>
            <td class="left-border">{{member.cheese_count|default_if_none:" "}}</td>
            <td class="left-border">{{member.meat_count|default_if_none:" "}}</td>
            <td class="left-border">{{member.bread_count|default_if_none:" "}}</td>
            <td class="left-border">{{member.plant_count|default_if_none:" "}}</td>
            <td class="left-border">{% if member.assigned_week == "W" %}-{% else %}{{member.assigned_week_description|default_if_none:"TBD"}}{% endif %}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
