{% extends "admin_base.html" %}

{% block header %}
  <style type="text/css">
    thead th { padding-top: 2px; padding-bottom: 2px; vertical-align: bottom; text-align: center; background-color: #574349; color: #E8E5DD; }
    th, td { white-space: nowrap; border: 1px solid #FFFFFF; }
    table tr.odd td { background-color: #FFF; }
    table tr.even td { background-color: #E8E5DD; }
  </style>
{% endblock %}

{% block nav %}
  {% include "admin_nav.html" %}
{% endblock %}

{% block content %}
  <div class="span-24 last below-8">
    <span class="title">Summaries</span>
  </div>

  <div class="span-24 last below-8">
    <div class="span-5">
      <table class="summary">
        <thead><tr><th colspan="2">Saturday Share Count</th></tr></thead>
        <tbody>
          {% for content, quantity in sat_counts %}
            <tr {% cycle 'class="odd"' 'class="even"' %}><td>{{content}}</td><td>{{quantity}}</td></tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="span-5">
      <table class="summary">
        <thead><tr><th colspan="2">Wednesday Share Count</th></tr></thead>
        <tbody>
          {% for content, quantity in wed_counts %}
            <tr {% cycle 'class="odd"' 'class="even"' %}><td>{{content}}</td><td>{{quantity}}</td></tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <div class="span-24 last">
    <div class="span-5">
      <table class="summary">
        <thead>
          <tr><th colspan="3">Veggie A/B Count</th></tr>
          <tr><th>Day</th><th>Week</th><th>Count</th></tr>
        </thead>
        <tbody>
          {% for day, assigned_week, total in veggie_counts %}
            <tr {% cycle 'class="odd"' 'class="even"' %}><td>{{day}}</td><td>{{assigned_week|default_if_none:""}}</td><td>{{total}}</td></tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="span-5">
      <table class="summary">
        <thead>
          <tr><th colspan="3">Fruit A/B Count</th></tr>
          <tr><th>Day</th><th>Week</th><th>Count</th></tr>
        </thead>
        <tbody>
          {% for day, assigned_week, total in fruit_counts %}
            <tr {% cycle 'class="odd"' 'class="even"' %}><td>{{day}}</td><td>{{assigned_week|default_if_none:""}}</td><td>{{total}}</td></tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="span-5">
      <table class="summary">
        <thead>
          <tr><th colspan="3">Egg A/B Count</th></tr>
          <tr><th>Day</th><th>Week</th><th>Count</th></tr>
        </thead>
        <tbody>
          {% for day, assigned_week, total in egg_counts %}
            <tr {% cycle 'class="odd"' 'class="even"' %}><td>{{day}}</td><td>{{assigned_week|default_if_none:""}}</td><td>{{total}}</td></tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="span-5">
      <table class="summary">
        <thead>
          <tr><th colspan="3">Flower A/B Count</th></tr>
          <tr><th>Day</th><th>Week</th><th>Count</th></tr>
        </thead>
        <tbody>
          {% for day, assigned_week, total in flower_counts %}
            <tr {% cycle 'class="odd"' 'class="even"' %}><td>{{day}}</td><td>{{assigned_week|default_if_none:""}}</td><td>{{total}}</td></tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

{% endblock %}
