{% load static from staticfiles %}
<html>
  <head>
    <style type="text/css">
        body { font-family: Helvetica, Tahoma, Verdana, sans-serif; }
        div.below-0 { padding-bottom: 0px; }
        div.below-2 { padding-bottom: 2px; }
        div.below-4 { padding-bottom: 4px; }
        div.below-8 { padding-bottom: 8px; }
        div.below-16 { padding-bottom: 16px; }
        div.below-32 { padding-bottom: 32px; }

        div.right { float: right; }
        div.quiz-container { width: 600px; margin:0 auto; }
        hr.question-divider { border: 1px solid #f6f2ea; background-color: #f6f2ea !important; color: #f6f2ea !important; }
        div.question { font-size: 18px; }
        input.answer { margin: 6px; }
        label.answer { font-size: 14px; font-weight: normal; }
        label.correct { border: 0px; background-color: #DDEDDD; border-radius: 6px; -moz-border-radius 6px; padding: 4px; padding-left: 8px; padding-right: 4px; }
        label.correct img { vertical-align: middle; }
        a.continue { border: 0px; background-color: #AD9D7D; color:#F6f2ea; border-radius: 6px; -moz-border-radius 6px; padding: 12px; text-decoration: none; font-size: 20px; }
        a.continue:hover { color: #F6f2ea; }
        .title { font-size: 24px; }
        .text { font-size: 14px; }
    </style>

    <script type="text/javascript" language="javascript" src="{% static "js/jquery-1.7.js" %}"></script>
    <script type="text/javascript">
        function markCorrect(jLabel) {
          if (!jLabel.hasClass("correct")) {
            jLabel.addClass("correct");
            jLabel.append('&nbsp;&nbsp;<img src="/static/images/green_check_mark.png">');
          }

          if ($("label[for$='correct']").length == $("label[for$='correct'].correct").length) {
            $("#continue-link").show();
          }
        }

        $(function() {
          $("input[name^='question-']").click(function() {
            markCorrect($("label[for='" +$(this).attr("name") + "-correct']"));
          });
        });
    </script>
  </head>
  <body>
    <div class="quiz-container">
      <div class="below-16">
        <div class="title">Quiz!</div>
        <div class="text">
          Answer the questions below to continue to our online membership signup.
        </div>
        <hr class="question-divider" />
      </div>

      <div class="below-16">
        <div class="question">
          What does GWCSA stand for?
        </div>
        <div class="below-16">
          <input class="answer" type="radio" name="question-gwcsa"><label class="answer">Growing Wonderful Crispy Sweet Artichokes</label><br />
          <input class="answer" type="radio" name="question-gwcsa"><label class="answer">Gently Washed Community Sourced Asparagus</label><br />
          <input class="answer" type="radio" name="question-gwcsa" id="question-gwcsa-correct"><label for="question-gwcsa-correct" class="answer">Greenpoint Williamsburg Community Supported Agriculture</label><br />
        </div>
      </div>

      <div>
        <div class="question">
          The GWCSA's day-to-day operations are run by...
        </div>
        <div class="below-16">
          <input class="answer" type="radio" name="question-core" id="question-core-correct"><label for="question-core-correct" class="answer">A core group of volunteer members.</label><br />
          <input class="answer" type="radio" name="question-core"><label class="answer">A benevolent overlord.</label><br />
          <input class="answer" type="radio" name="question-core"><label class="answer">Magical elves.</label><br />
        </div>
      </div>

      <div>
        <div class="question">
          How will I get all of my delicious goods home from distribution?
        </div>
        <div class="below-16">
          <input class="answer" type="radio" name="question-transport">
          <label class="answer">
            A sherpa will be provided to carry it to your doorstep.
          </label><br />
          <input class="answer" type="radio" name="question-transport" id="question-transport-correct">
          <label for="question-transport-correct" class="answer">
            You must bring your own bags (and a few tupperware wouldn't hurt).
          </label><br />
          <input class="answer" type="radio" name="question-transport">
          <label class="answer">
            You can only take home what fits in your pockets.
          </label><br />
        </div>
      </div>

      <div>
        <div class="question">
          What do I do if I can't pick up my food on a given week?
        </div>
        <div class="below-16">
          <input class="answer" type="radio" name="question-cant-pickup">
          <label class="answer">
            Fire your personal assistant for double booking your Wednesday evening / Saturday morning.
          </label><br />
          <input class="answer" type="radio" name="question-cant-pickup" id="question-cant-pickup-correct">
          <label for="question-cant-pickup-correct" class="answer">
            Ask a friend, neighbor, or someone who owes you a favor to pick up for you. Alternately, post to the member forum at least a week in advance to switch pick up dates with another member.
          </label><br />
          <input class="answer" type="radio" name="question-cant-pickup">
          <label class="answer">
            Blame Ryan Gosling.
          </label><br />
        </div>
      </div>

      <div>
        <div class="question">
          Can I pick up my food just two minutes after 8pm or 12pm... just this once? Please?
        </div>
        <div class="below-16">
          <input class="answer" type="radio" name="question-late">
          <label class="answer">
            Nope, sorry.
          </label><br />
          <input class="answer" type="radio" name="question-late">
          <label class="answer">
            No.
          </label><br />
          <input class="answer" type="radio" name="question-late">
          <label class="answer">
            NO.
          </label><br />
          <input class="answer" type="radio" name="question-late" id="question-late-correct">
          <label for="question-late-correct" class="answer">
            All of the above.
          </label><br />
        </div>
      </div>

      <div>
        <div class="question">
          What do I do if I can't make my work shift(s)?
        </div>
        <div class="below-16">
          <input class="answer" type="radio" name="question-workshift" id="question-workshift-correct">
          <label for="question-workshift-correct" class="answer">
            Ask a friend, neighbor, or someone who owes you a favor to work for you. Alternately, post
            on the member forum at least a week in advance to switch work shifts with another member.
          </label><br />
          <input class="answer" type="radio" name="question-workshift">
          <label class="answer">
            Avoid all phone calls and emails for a month and hope no one will notice you didn't show.
          </label><br />
          <input class="answer" type="radio" name="question-workshift">
          <label class="answer">
            Blame Ryan Gosling.
          </label><br />
        </div>
      </div>

      <div>
        <div class="question">
          What do I do if I don't like, or can't eat, one of the items being offered
        </div>
        <div class="below-16">
          </label><br />
          <input class="answer" type="radio" name="question-yuck">
          <label class="answer">
            Beg, plead, and bargain to switch for other items.
          </label><br />
          <input class="answer" type="radio" name="question-yuck">
          <label class="answer">
            Bribe the distribution workers to let you switch for other items.
          </label><br />
          <input class="answer" type="radio" name="question-yuck" id="question-yuck-correct">
          <label for="question-yuck-correct" class="answer">
            Put the unwanted item(s) in the Trade Box and take someone else's unwanted items.
          </label><br />
        </div>
        <hr class="question-divider" />
      </div>


      <div>
        <div class="text below-32">
          If you have any questions at all, please don't hesitate to send us an email (info@gwcsa.org).
        </div>
        <div class="right">
          <a style="display:none" id="continue-link" class="continue" target="_blank" href="http://www.farmigo.com/join/greenpointwilliamsburgcsa/gwcsa2014">Sign me up!</a>
        </div>
      </div>
    </div><!-- end container showgrid -->
  </body>
</html>

