{% extends "base.html" %}
{% load static from staticfiles %}

{% block header %}
  <script type="text/javascript" language="javascript">
    var wed_a_dates = {{ wed_a_dates|safe }};
    var wed_b_dates = {{ wed_b_dates|safe }};
    var sat_a_dates = {{ sat_a_dates|safe }};
    var sat_b_dates = {{ sat_b_dates|safe }};
  </script>
  <script type="text/javascript" language="javascript"
    src="{% static 'js/workshifts.js' %}{% if "amazon" in STATIC_URL %}&{% else %}?{% endif %}cache_buster={% now "YmdHis" %}">
  </script>
{% endblock %}

{% block content %}
  <div class="text-medium span-24 last below-16">
    <div class="italic span-24 last below-4">
        <strong>BIWEEKLY MEMBERS:</strong> if you have purchased
        meat, cheese, or pickles & preserves shares, you will be picking up your shares on <strong>A week</strong>.
        For your own convenience, please choose your workshift(s) to fall on <strong>A week</strong> distribution dates (yellow background).
    </div>
    <div class="a-week-sample span-2">A Week</div>
    <div class="b-week-sample span-2 last">B Week</div>
  </div>

  <div id="shift-selection" class="span-24 last below-16">
    <div class="span-24 last below-8">
      <span class="title">Wednesday</span>
    </div>
    {% for workshift in workshifts %}
      {% if workshift.day == "W" %}
        <div class="span-24 last below-16">
          {% include "workshift_row.html" %}
        </div>
      {% endif %}
    {% endfor %}
  </div>

  <div id="shift-selection" class="span-24 last below-16">
    <div class="span-24 last below-8">
      <span class="title">Saturday</span>
    </div>
    {% for workshift in workshifts %}
      {% if workshift.day == "S" %}
        <div class="span-24 last below-16">
          {% include "workshift_row.html" %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endblock %}

