{% extends "base.html" %}
{% load static from staticfiles %}

{% block header %}
  <script type="text/javascript" language="javascript" src="{% static 'js/workshifts.js' %}?cache_buster={% now "YmdHis" %}""></script>
{% endblock %}

{% block content %}
  <div id="shift-selection" class="span-24 last below-16">
    <div class="span-24 last below-8">
      <span class="title">Wednesday</span>
    </div>
    {% for workshift in workshifts %}
      {% if workshift.day == "W" %}
        <div class="span-24 last below-16">
          {% include "workshift_row.html" %}
        </div>
      {% endif %}
    {% endfor %}
  </div>

  <div id="shift-selection" class="span-24 last below-16">
    <div class="span-24 last below-8">
      <span class="title">Saturday</span>
    </div>
    {% for workshift in workshifts %}
      {% if workshift.day == "S" %}
        <div class="span-24 last below-16">
          {% include "workshift_row.html" %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endblock %}

